.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px; 
}

.form_wrapper.login {
  width: 330px !important; 
  align-items: normal !important;
}
.form_container {
    display: flex;
    justify-content: space-between;
  }
  .login_container{
    width: 100%;
    margin-top: 40px;
  }
  .validate {
    color: red;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
  }
  .link{
    font-family: Inter ;
    font-weight: 400 ;
    font-size: 16px ;
    text-decoration: none !important;
  }
  .link_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link_password{
    margin-top: 5px;
    text-decoration: none !important;
    color: #78BCC4;
  }