.form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px; 
  }
  .form_container {
    display: flex;
    justify-content: space-between;
  }
  .left_column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
  }
  .right_column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
  }
  .login_container{
    width: 100%;
  }
  .validate {
    color: red;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
  }
  .link{
    font-family: Inter ;
    font-weight: 400 ;
    font-size: 16px ;
    text-decoration: none ;
  }
  .link_password{
    color: #78BCC4;
  }