.menu {
    display: flex;
    justify-content: space-between;
    background-color: rgb(88,121,172);
    padding: 10px 0px;
    text-align: center;
    color: rgb(251,255,255);
  }
  .logo{
    width: 50px;
  }
  /* .text{
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
    margin-left: 100px;
  } */
  .list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  .list_item {
    margin-right: 18px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
  }
  
  